<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BANK SERVICE</title>

    <link href="{{url_for('static', filename='css/bank_css/common.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bank_css/index.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename='js/bank.js')}}"></script>

</head>
<body>
                                                                                          
    {% include 'include/header.html' %}
    {% include 'include/bank_nav.html' %}
                                                               
    <article id="accDelete_wrap">
        <div class="accDelete_form">
            <form action="/bank/accDelete_confirm"  method="post" name="Delete_form">
                  
                <input class="input_basic" type="text" name="aNum" placeholder="Account Number to Delete">  
                <br>
                <input class="input_button_basic_130" type="button" value="ACCOUNT DELETE" onclick="accDeleteForm();">
                <input class="input_button_basic_130" type="reset" value="RESET">
            </form>
        </div>
    </article>

  
</body>
</html>