<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BANK SERVICE</title>

    <link href="{{url_for('static', filename='css/bank_css/common.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bank_css/bank.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename='js/bank.js')}}"></script>

</head>
<body>
                                                                                          
    {% include 'include/header.html' %}
    {% include 'include/bank_nav.html' %}
                                                               
    <article id="accModify_wrap">
        <div class="accModify_form">
            <form action="/bank/accModify_confirm"  method="post" name="Modify_form">
                  
                <input class="input_basic" type="text" name="aNum" placeholder="Input Your Account Num">  
                <br>
                <input class="input_basic" type="password" name="aPw"  placeholder="Input New Account PW">
                <br>
              
                <input class="input_button_basic_130" type="button" value="PW CHANGE" onclick="accModifyForm();">
                <input class="input_button_basic_130" type="reset" value="RESET">
            </form>
        </div>
    </article>

  
</body>
</html>