<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Modify Member</title>
    <link href="{{ url_for('static', filename='css/member.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/include/fadein.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/member.js') }}"></script>
</head>

<body>
    {% include 'include/background_video.html' %}
    {% include 'include/header.html' %}
    {% include 'include/nav.html' %}

    <article class="member_wrap page_fadein">
        <h3>MODIFY</h3>
        <form action="/member/modify_confirm" method="post" name="modify_form">
            <input type="text" value="{{ member.mId }}" readonly disabled>
            <input type="password" name="mPw" value="{{ member.mPw }}" placeholder="Input member PW">
            <input type="email" name="mMail" value="{{ member.mMail }}" placeholder="Input member MAIL">
            <input type="text" name="mPhone" value="{{ member.mPhone }}" placeholder="Input member PHONE">
            <input type="button" value="MODIFY" onclick="modifyForm();">
            <input type="reset" value="RESET">
        </form>
    </article>
</body>

</html>
