<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="{{ url_for('static', filename='css/member.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/include/fadein.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/member.js') }}"></script>
</head>

<body>
    {% include 'include/background_video.html' %}
    {% include 'include/header.html' %}
    {% include 'include/nav.html' %}

    <article class="member_wrap page_fadein">
        <h3>SIGN-UP</h3>
        <form action="/member/signup_confirm" method="post" name="signup_form">
            <input type="text" name="mId" placeholder="Input new member ID">
            <input type="password" name="mPw" placeholder="Input new member PW">
            <input type="email" name="mMail" placeholder="Input new member MAIL">
            <input type="text" name="mPhone" placeholder="Input new member PHONE">
            <input type="button" value="SIGN UP" onclick="signupForm();">
            <input type="reset" value="RESET">
        </form>
    </article>
</body>

</html>
